h1 {
    text-align: center;
}


/* Contains our table and canvas */
.center_container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse; /* CONVERTS ALL BORDERS INTO ONE */
    border-style: hidden; /* HIDES THE OUTER BORDER ON THE TABLE */
}

td {
    cursor: pointer;
    border: 4px solid rgba(64, 195, 3, 0.8);
    padding: 0px; /* REMOVES DEFAULT PADDING */
    width: 200px;
    height: 200px;
}

canvas {
    position: absolute; /* THIS SETS THE POSITION OF THE CANVAS TO THE TOP LEFT CORNER OF THE CONTAINER */
    z-index: 10; /* THIS SETS THE CANVAS ON TOP OF THE TABLE */
    pointer-events: none; /* THIS MAKES THE CANVAS INVISIBLE */
}